channels[daphne]>=4.0.0,<5
channels-redis>=4.0.0,<5
cryptography
Cython
Django>=4.2,<5.0
django-cors-headers
djangorestframework
djangorestframework-camel-case
flake8
gssapi
pycodestyle
PyJWT
pylint
pylint-django
pylint-plugin-utils
PyYAML
PyZephyr @ git+https://github.com/asedeno/python-zephyr@850f0ae696691bfbaed633fa7a53532624e78d40
setproctitle
Twisted
