aioredis==1.3.1
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
autopep8==1.5.4
backcall==0.2.0
cffi==1.14.2
channels==2.4.0
channels-redis==3.1.0
constantly==15.1.0
cryptography==3.3.2
Cython==0.29.21
daphne==2.5.0
decorator==4.4.2
Django==3.1.8
django-cors-headers==3.5.0
djangorestframework==3.11.2
djangorestframework-camel-case==1.2.0
entrypoints==0.3
flake8==3.8.3
gssapi==1.6.9
hiredis==1.1.0
hyperlink==20.0.1
idna==2.10
importlib-metadata==1.7.0
incremental==17.5.0
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.1
jedi==0.17.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==1.0.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
PyHamcrest==2.0.2
PyJWT==1.7.1
PyYAML==5.4
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pyOpenSSL==19.1.0
pytz==2020.1
git+git://github.com/asedeno/python-zephyr@roost-fork#PyZephyr
service-identity==18.1.0
setproctitle==1.1.10
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
traitlets==5.0.4
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.4.1
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.1.0
zope.interface==5.1.0
