channels[daphne]>=4.0.0,<5
channels-redis>=4.0.0,<5
cryptography
Django>=4.2,<5.0
django-cors-headers
djangorestframework
djangorestframework-camel-case
flake8
gssapi
pycodestyle
PyJWT
pylint
pylint-django
pylint-plugin-utils
PyYAML
PyZephyr @ git+https://github.com/asedeno/python-zephyr@c0de86e8a67f975a2d770c0ccfb51b96a41a1224
setproctitle
Twisted
